# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science
* Python
* R
* SQL
* Julia
* JavaScript

## Author
Sandy Ariza R.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

Data table example:

| Data Science Tools | 
| -------------| 
| Jupiter | 
| Rstudio | 
| Apache Zeppeline |

# H3: Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [27]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

200/60